.cntr-box{
    background-color: black;
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: white
}

.cntr-text h1{
    
    font-weight: 500;
    font-size: 55px;
    margin-bottom: 20px; 
}